/* My portal page styles */

html {
    background-color: #030103; /* Red Green Blue */
}

div#wrapper {
    background-color: #fff;
    width: 90%;
    margin: auto;
    overflow: auto;
    border-radius: 25px;
}

p {
    text-indent: .5em;
    color: #fff;
    background-color: #800000;
    margin-left: .5em;
    margin-right: .5em;
    padding: 1em;
    border-radius: 25px;
    font-size: 1.5em;
}

header h1 {
    margin-left: .75em;
    text-align: center;
    text-decoration: none;
}

nav li.selected {
    background-color: #800000;
}

h2 {
    text-align: center;
    padding-left: .5em;
    background-color: #000;
    color: #fff;
}

img.desktop{
    margin-top: .5em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 75px;
}

img.tablet {
    margin-top: 5em;
    margin-left: 2em;
    border-radius: 75px;
    padding-right: 1em;
}

p.overview {
    text-indent: .5em;
    color: #fff;
    background-color: #800000;
    margin-left: .5em;
    margin-right: .5em;
    padding: 1em;
    border-radius: 25px;
    font-size: 1.5em;
}

h3 {
    text-align: right;
    padding-top: .5em;
    padding-right: 1em;
    margin-left: 56em;
    margin-right: 1.75em;
    background-color: #800000;
    color: #fff;
}

/*Embed YouTube Webcam */
div.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 80%;
    text-align: center;
} 

div.embed-container iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 80%; 
    height: 100%;
}

aside.rightcolumn {
    float: right;
    width: 15.75%;
    margin-right: 2em;
    background-color: #800000;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

phone {
    padding: 1em;
}

footer {
    clear: both;
    text-align: center;
}

/* DESKTOP */
@media all and (min-width:1280px) {
    
    img.desktop {
       float: right;
       width: 50%;
    }
    
    img.tablet, img.phone {
        display: none;
    }

    
}

/* TABLET */
@media all and (min-width:769px) and (max-width:1279px) {
    
    img.tablet {
       float: right;
       width: 50%;
    }
    
    img.desktop, img.phone {
        display: none;
    }
    
    aside.rightcolumn {
    float: none;
    width: 50%;
}
    
}

/* PHONE */
@media all and (max-width:768px) {
    
    div#wrapper {
        width: 100%;
    }
    
    img.phone {
       width: 100%;
    }
    
    img.desktop, img.tablet {
        display: none;
    }
    
    header h1 {
        text-align: center;
        margin-left: 0;
    }
    
    p.overview {
    width: auto;
    }
    
    aside.rightcolumn {
    float: none;
    width: 50%;
    }

}









